---
layout: plain
---

<div class="jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">{{ site.description }}</h2>
        <h2> </h2>
        <center>
          <a href="https://twitter.com/psolymos" class="twitter-follow-button" data-show-count="false">Follow @psolymos</a>
        </center>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
      </div>
    </div>

  </div>
</div>

<div class="section-tout">
  <div class="container">

    <div class="row">

      <!--
      recent posts, starting with promoted
      (2 cols have different counters: see limit and offset)
      -->
      <div class="col-lg-6 col-sm-6">
        {% for post in site.posts %}
        {% if post.promote %}
        <div class="well">
          <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
          {{ post.excerpt }}
        </div>
        {% endif %}
        {% endfor %}
        {% for post in site.posts limit:3 %}
        {% unless post.promote %}
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
        {{ post.excerpt }}
        {% endunless %}
        {% endfor %}
      </div>

      <div class="col-lg-6 col-sm-6">
        {% for post in site.posts offset:3 limit:4 %}
        {% unless post.promote %}
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
        {{ post.excerpt }}
        {% endunless %}
        {% endfor %}
      </div>

    </div>
    <div class="row">
      <!--
      code
      -->
      <div class="col-lg-4 col-sm-6">
      <h3><a href="{{ site.baseurl }}/code.html">R packages</a></h3>
      <div class="list-group">
      {% for pkg in site.data.packages %}
        <a href="{{ site.baseurl }}/code.html#code-{{ pkg.pkgname | downcase }}" class="list-group-item">
          <!-- <h4 class="list-group-item-heading">{{ pkg.pkgname }}</h4> -->
          <p class="list-group-item-text"><strong>{{ pkg.pkgname }}</strong>: {{ pkg.title }}</p>
        </a>
      {% endfor %}
      </div>
      </div>

      <!--
      papers
      -->
      <div class="col-lg-4 col-sm-6">
      <h3><a href="{{ site.baseurl }}/papers.html">Publications</a></h3>
        {% for ms in site.data.papers limit:5 %}
        <p>{{ ms.text }}{% if ms.link %} &mdash; <i class="fa fa-external-link text-orange"></i>&nbsp;<a href="{{ ms.link }}">journal website</a>{% endif %}{% if ms.fulltext %} &mdash; <i class="fa fa-file-pdf-o text-orange"></i>&nbsp;<a href="{{ ms.fulltext }}">fulltext PDF</a>{% endif %}{% if ms.code %} &mdash; <i class="fa fa-file-code-o text-orange"></i>&nbsp;{{ ms.code }}{% endif %}{% if ms.supportinginfo %} &mdash; <i class="fa fa-file-code-o text-orange"></i>&nbsp;{{ ms.supportinginfo }}{% endif %}.</p>
        {% endfor %}
      </div>

      <!--
      tweets
      -->
      <div class="col-lg-4 col-sm-6">
        <a class="twitter-timeline" href="https://twitter.com/psolymos" data-widget-id="621867673526218752">Tweets by @psolymos</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

    </div>

    {% if site.ads %}
    <div class="row">
      <div class="col-lg-12">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- peter.solymos.org -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-7395343205881856"
                   data-ad-slot="1856779806"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
      </div>
    </div>
    {% endif %}

  </div>
</div>
