<meta charset="utf-8" />
<title>
  {% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{
  site.title }}
</title>
<meta
  name="description"
  content="{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape }}"
/>
<meta name="keywords" content="{{ page.tags | join: ', ' }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="canonical"
  href="{% if page.canonical %}{{ page.canonical }}{% else %}{{ site.baseurl }}{{ page.url }}{% endif %}"
/>
<meta
  property="og:title"
  content="{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title }}"
/>
<meta
  property="og:description"
  content="{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape }}"
/>
<meta
  property="og:image"
  content="{% if page.image %}{{ page.image }}{% else %}{{ site.baseurl }}/images/screenshot.png{% endif %}"
/>
<meta property="og:type" content="website" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.author_plain }}" />
<meta name="twitter:site" content="@psolymos" />
<meta
  name="twitter:title"
  content="{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title }}"
/>
<meta
  name="twitter:description"
  content="{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape }}"
/>
<meta name="twitter:url" content="{{ site.baseurl }}{{ page.url }}" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
{% capture bswtheme %}{% if page.bswtheme %}{{ page.bswtheme }}{% else %}{{
site.bswtheme }}{% endif %}{% endcapture %}
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap.css" media="screen"> -->

<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/{{ bswtheme }}/bootstrap.min.css"
  media="screen"
/>
<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
/>
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/highlight.default.min.css">
<script src="{{ site.baseurl }}/assets/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    $(document).ready(function() {
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });
</script> -->
<script>
  $(".entry").html($(".entry").html().replace("<em>{", "_{"));
  $(".entry").html($(".entry").html().replace("</em>{", "_{"));
</script>
<script>
  window.MathJax = {
    options: {
      ignoreHtmlClass: "tex2jax_ignore",
      processHtmlClass: "tex2jax_process",
    },
    tex: {
      inlineMath: [
        ["$", "$"],
        ["\\(", "\\)"],
      ],
      autoload: {
        color: [],
        colorV2: ["color"],
      },
      packages: { "[+]": ["noerrors"] },
    },
    loader: {
      load: ["[tex]/noerrors"],
    },
  };
</script>
<script
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
  id="MathJax-script"
></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Montserrat"
/>
<style type="text/css">
  /* padding for bootstrap navbar */
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Montserrat", sans-serif;
  }
  /* Google custom search look and feel */
  .gsc-results-wrapper-overlay,
  .gsc-results-wrapper-visible,
  .gsc-search-button,
  .gsc-search-button-v2 {
    box-sizing: content-box;
  }
  /* same color as inline code */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
  }
</style>
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
