<nav class="navbar navbar-expand-lg navbar-dark fixed-top site-nav">
  <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-main"
        aria-controls="navbar-main"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/posts/">Posts</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/talks/">Talks</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/papers/">Papers</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/code/">Code</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about/">About</a></li>
      </ul>
      <!--          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="results">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                {% for category in site.category_list %}<li><a href="{{ site.baseurl }}/category-{{ category | slugify }}.html">{{ category | capitalize }}</a></li>{% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="results">Tags <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                {% for tag in site.tag_list %}<li><a href="{{ site.baseurl }}/tag-{{ tag | slugify }}.html">{{ tag | capitalize }}</a></li>{% endfor %}
              </ul>
            </li>
          </ul> -->
      <ul class="navbar-nav ms-lg-auto flex-row gap-2">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/psolymos/" aria-label="GitHub profile"
            ><i class="fa fa-github-square text-grey"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/peter-solymos/" aria-label="LinkedIn profile"
            ><i class="fa fa-linkedin-square text-grey"></i
          ></a>
        </li>
        <!-- <li>
          <a href="https://twitter.com/psolymos"
            ><i class="fa fa-twitter-square text-grey"></i
          ></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/feed.xml" aria-label="RSS feed"
            ><i class="fa fa-rss-square text-grey"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
