<ul class="pager">
  <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=psolymos&related=psolymos" rel="nofollow" target="_blank" type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" title="" data-original-title="Share on Twitter"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Share on Facebook"><i class="fa fa-facebook-official"></i></a></li>
  <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="" data-original-title="Share on Google+"><i class="fa fa-google-plus"></i></a></li>
</ul>


<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=psolymos&related=psolymos" rel="nofollow" target="_blank" type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" title="" data-original-title="Share on Twitter"><i class="fa fa-twitter"></i></a>

<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Share on Facebook"><i class="fa fa-facebook-official"></i></a>

<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="" data-original-title="Share on Google+"><i class="fa fa-google-plus"></i></a>
