body>.navbar {
    -webkit-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
}
@media (min-width:768px) {
    body>.navbar-transparent {
    background-color: transparent;
}
body>.navbar-transparent .navbar-nav>.open>a {
    background-color: transparent!important;
}
}#home {
    padding-top: 0;
}
#home .navbar-brand {
    padding: 13.5px 15px 12.5px;
}
#home .navbar-brand>img {
    display: inline;
    margin: 0 10px;
    height: 100%}
#banner {
    min-height: 300px;
    border-bottom: none;
}
.splash {
    padding: 9em 0 2em;
    background-color: #141d27;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}
.splash .logo {
    width: 160px;
}
.splash h1 {
    font-size: 3em;
}
.splash #social {
    margin: 2em 0;
}
.splash .alert {
    margin: 2em 0;
}
@media (max-width:767px) {
    .splash {
    padding-top: 4em;
}
.splash .logo {
    width: 100px;
}
.splash h1 {
    font-size: 2em;
}
#banner {
    margin-bottom: 2em;
    text-align: center;
}
}
